extends layout

block content
  #wrapper1
    h1= title
    p Welcome to the joint blockchain of Manufacturer Inc. and Supplier Inc.

    // USER INFO
    #userInfo
      h2 Order Details
      p
        strong ID Number:
        |  <span id='userIdNumber'></span>
        br
        br
        strong Date:
        |  <span id='userInfoName'></span>
        br
        br
        strong Product:
        |  <span id='userInfoAge'></span>
        br
        br
        strong Quantity:
        |  <span id='userInfoGender'></span>
        br
        br
        strong Price:
        |  <span id='userInfoLocation'></span>
        br
        br
        strong Fullfillment Date:
        |  <span id='userInfoQuantity'></span>
        br
        br
        strong Location:
        |  <span id='userInfoEmail'></span>
    // /PRODUCT INFO
  // / wrapper1

  // Wrapper
  #wrapper2

    img#logocompany(src="/images/Download.png" alt="Logo")
    p#logotext This implementation is based on IBM's blockchain guide. 
    a#logolink(href="https://developer.ibm.com/technologies/blockchain/", target="_blank") See here for information. 

    // ADD CONTRACT 
    #addtop 
    h2 Add a new order to the ledger
    #addUser
      fieldset
        input#inputID(type='text', placeholder='ID Number')
        input#inputUserName(type='text', placeholder='Today\'s date (DD-MM-YYYY)')
        input#inputUserEmail(type='text', placeholder='Product')
        br
        input#inputUserFullname(type='text', placeholder='Quantity')
        input#inputUserAge(type='text', placeholder='Price per item')
        br
        input#inputName(type='text', placeholder='Username')
        input#inputUserLocation(type='text', placeholder='Fullfillment Date (DD-MM-YYYY)')
        input#inputUserGender(type='text', placeholder='Location')
        br
        button#btnAddUser Add Order
        #success
    // /ADD PRODUCT
    // USER LIST
    .tabletop
      h2 Orders on the ledger
      #count
    #userList
      table
        thead
          th ID
          th Date
          th Product
          th Quantity
          th Price
          th Fullfullment Date
          th User
        tbody
    // /PRODUCT LIST


  // / wrapper2




